/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
    flavor = "hold-preferred";
    tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc 
        {
            timeout-ms = <500>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
        combo_tab 
        {
            timeout-ms = <500>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
	    layers = <0 1 2>;
        };
        
        combo_vol_plus
        {
            timeout-ms = <500>;
            key-positions = <2 3>;
            bindings = <&kp C_VOL_UP>;
	    layers = <2>;
        };

        combo_play_pause
        {
            timeout-ms = <500>;
            key-positions = <11 12>;
            bindings = <&kp C_PLAY_PAUSE>;
	    layers = <0 2>;
        };

        combo_previous
        {
            timeout-ms = <500>;
            key-positions = <12 13>;
            bindings = <&kp C_PREV>;
	    layers = <2>;
        };

        combo_next
        {
            timeout-ms = <500>;
            key-positions = <13 14>;
            bindings = <&kp C_NEXT>;
	    layers = <2>;
        };

        combo_vol_minus
        {
            timeout-ms = <500>;
            key-positions = <22 23>;
            bindings = <&kp C_VOLUME_DOWN>;
	    layers = <2>;
        };

        combo_backspace
        {
            timeout-ms = <500>;
            key-positions = <8 9>;
            bindings = <&kp BSPC>;
        };

        combo_up
        {
            timeout-ms = <500>;
            key-positions = <7 8>;
            bindings = <&kp UP>;
        };

        combo_down
        {
            timeout-ms = <500>;
            key-positions = <17 18>;
            bindings = <&kp DOWN>;
        };

        combo_left
        {
            timeout-ms = <500>;
            key-positions = <16 17>;
            bindings = <&kp LEFT>;
        };

        combo_right
        {
            timeout-ms = <500>;
            key-positions = <18 19>;
            bindings = <&kp RIGHT>;
        };

        combo_enter
        {
            timeout-ms = <500>;
            key-positions = <17 18 19>;
            bindings = <&kp ENTER>;
        };
	
	combo_trilayer
        {
            timeout-ms = <500>;
            key-positions = <30 31 32 33>;
            bindings = <&tog 3>;
        };
	
	combo_numrow_1
        {
            timeout-ms = <100>;
            key-positions = <20 21>;
            bindings = <&kp NUMBER_1>;
	    layers = <3>;
        };
	
	combo_numrow_2
        {
            timeout-ms = <100>;
            key-positions = <21 22>;
            bindings = <&kp NUMBER_2>;
	    layers = <3>;
        };
	
	combo_numrow_3
        {
            timeout-ms = <100>;
            key-positions = <22 23>;
            bindings = <&kp NUMBER_3>;
	    layers = <3>;
        };
	
	combo_numrow_4
        {
            timeout-ms = <100>;
            key-positions = <23 24>;
            bindings = <&kp NUMBER_4>;
	    layers = <3>;
        };
	
	combo_numrow_5
        {
            timeout-ms = <100>;
            key-positions = <20 21 22>;
            bindings = <&kp NUMBER_5>;
	    layers = <3>;
        };
	
	combo_numrow_6
        {
            timeout-ms = <100>;
            key-positions = <21 22 23>;
            bindings = <&kp NUMBER_6>;
	    layers = <3>;
        };
	
	combo_numrow_7
        {
            timeout-ms = <100>;
            key-positions = <22 23 24>;
            bindings = <&kp NUMBER_7>;
	    layers = <3>;
        };
	/*
	combo_bluetooth_clear
        {
            timeout-ms = <200>;
            key-positions = <20 21 28 29>;
            bindings = <&bt BT_CLR>;
	    layers = <2>;
        };
	
	combo_bluetooth_0
        {
            timeout-ms = <200>;
            key-positions = <20 21>;
            bindings = <&bt BT_SEL 0>;
	    layers = <2>;
        };
	
	combo_bluetooth_1
        {
            timeout-ms = <200>;
            key-positions = <21 22>;
            bindings = <&bt BT_SEL 1>;
	    layers = <2>;
        };
	
	combo_bluetooth_2
        {
            timeout-ms = <200>;
            key-positions = <22 23>;
            bindings = <&bt BT_SEL 2>;
	    layers = <2>;
        };
	
	combo_bluetooth_3
        {
            timeout-ms = <200>;
            key-positions = <23 24>;
            bindings = <&bt BT_SEL 3>;
	    layers = <2>;
        };
	
	combo_bluetooth_4
        {
            timeout-ms = <200>;
            key-positions = <24 25>;
            bindings = <&bt BT_SEL 4>;
	    layers = <2>;
        };
        */
	
	combo_lgui 
        {
            timeout-ms = <500>;
            key-positions = <28 29>;
            bindings = <&kp LGUI>;
	    layers = <0 1 2>;
        };
	
	combo_lalt 
        {
            timeout-ms = <500>;
            key-positions = <25 26>;
            bindings = <&kp LALT>;
	    layers = <0 1 2>;
        };
	
	combo_lctrl 
        {
            timeout-ms = <500>;
            key-positions = <27 28 29>;
            bindings = <&kp LCTRL>;
	    layers = <0 1 2>;
        };
	
	combo_ralt 
        {
            timeout-ms = <500>;
            key-positions = <5 6>;
            bindings = <&kp RALT>;
	    layers = <0 1 2>;
        };

        
    };

        keymap {
                compatible = "zmk,keymap";
                
        default_layer
        {
      
            //  | Q      | W      | F      | P     | G          |       | J           | L     | U     | Y      | SEMI  |
            //  | A      | R      | S      | T     | D          |       | H           | N     | E     | I      | O     |
            //  | LGUI_Z | LGUI_X | LGUI_C | V     | B          |       | K           | M     | COMMA | PERIOD | SLASH |
            //                             | TG(1) | LSHFT_BPSC |       | RSHFT_SPACE | TG(2) |
                
            bindings = <
            &kp Q  &kp W  &kp F  &kp P   &kp G                  &kp J      &kp L  &kp U      &kp Y       &kp SEMI
            &kp A  &kp R  &kp S  &kp T   &kp D                  &kp H      &kp N  &kp E      &kp I       &kp O
            &kp Z  &kp X  &kp C  &kp V   &kp B                  &kp K      &kp M  &kp COMMA  &kp PERIOD  &kp FSLH
                                 &mo 1   &kp LSHFT              &kp SPACE  &mo 2
            >;

        };

        left_layer
        {
            
            //  |  EXCL   |  AT     |  POUND  |  DLLR  | PRCNT |           | CARET | AMPS       | ASTRK | LPAR | RPAR  |
            //  |  EQUAL  |  PLUS   |  LBKT   |  RBKT  | BSLH  |           | PIPE  | LBRC       | RBRC  | SQT  | DQT   |
            //  |  NONE   |  NONE   |  GRAVE  |  TILDE | COMMA |           | MINUS | UNDERSCORE | LT    | GT   | QMARK |
            //                                |  TG(1) | BPSC  |           | SPACE | NONE       |
                
            bindings = <
            &kp EXCL   &kp AT     &kp POUND  &kp DLLR    &kp PRCNT         &kp CARET  &kp AMPS        &kp ASTRK  &kp LPAR  &kp RPAR 
            &kp EQUAL  &kp PLUS   &kp LBKT   &kp RBKT    &kp BSLH          &kp PIPE   &kp LBRC        &kp RBRC   &kp SQT   &kp DQT 
            &none      &none      &kp GRAVE  &kp TILDE   &kp COMMA         &kp MINUS  &kp UNDERSCORE  &kp LT     &kp GT    &kp QMARK 
                                             &trans      &kp BSPC          &kp SPACE  &none
            >;

        };
        
        right_layer
        {
        
            //  |  F1  |  F2  |  F3  |  F4    |  F5         |                            |  F6          |  F7    |  F8         |  F9          |  F10         |
            //  |  1   |  2   |  3   |  4     |  5          |                            |  6           |  7     |  8          |  9           |  0           |
            //  |  F11 |  F12 |  C   |  V     |  F13        |                            |  F14         |  F15   |  LGUI_COMMA |  LALT_PERIOD |  LCTRL_SLASH |
            //                       |  NONE  |  LSHFT_BPSC |                            |  RSHFT_SPACE |  TG(2) |
                
            bindings = <
            &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                &kp F6           &kp F7         &kp F8           &kp F9            &kp F10 
            &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5          &kp NUMBER_6     &kp NUMBER_7   &kp NUMBER_8     &kp NUMBER_9      &kp NUMBER_0
            &kp F11       &kp F12       &kp C         &kp V         &kp F13               &kp F14          &kp F15        &mt LGUI COMMA   &mt LALT PERIOD   &mt LCTRL FSLH
	                                              &none         &kp LSHFT             &kp SPACE        &trans
            >;

        }; 


        
        tri_layer 
        {
        
            //  | TAB |  Q  |  W  |  E  |  R     |          |  NUMBER_1 |  NUMBER_2 |  NUMBER_3 |  NUMBER_4 |  NUMBER_5 |
            //  |LSHFT|  A  |  S  |  D  |  F     |          |  NUMBER_6 |  NUMBER_7 |  NUMBER_8 |  NUMBER_9 |  NUMBER_0 |
            //  |LCTRL|  Z  |  X  |  C  |  V     |          |  K        |  M        |  J        |  I        |  F9       |
            //                    |  T  |  SPACE |          |  F5       |  TG(3)    |
                
            bindings = <
            &kp TAB    &kp Q  &kp W  &kp E  &kp R           &kp K         &kp M         &bt BT_SEL 0        &bt BT_SEL 2  &bt BT_SEL 4
            &kp LSHFT  &kp A  &kp S  &kp D  &kp F           &kp J         &kp I         &bt BT_SEL 1        &bt BT_SEL 3  &bt BT_CLR 
            &kp LCTRL  &kp Z  &kp X  &kp C  &kp V           &none         &none         &none               &kp F5        &kp F9   
                                     &kp T  &kp SPACE       &none         &tog 3 
            >;

        };  	
        
	};
};
